{%extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Chef | Administrador</title>
{% endblock %}

{%block content%}
    <form id="delete_form" action="/admin/chefs?_method=DELETE" method="POST">
        <input 
            type="hidden"
            name="id"
            value="{{chef.id}}"
        >
        <button type="submit">Deletar</button>
    </form>

    <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
        <div class="header_page">
            <h1>Editando Chef</h1>

            <button type="submit" id="create">Salvar chef</button>
        </div>

        {%include 'admin/chefs/fields.njk'%}

        <input 
            type="hidden" 
            name="id" 
            value={{chef.id}}
        >  

    </form>
{%endblock%}