{%extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Chef | Administrador</title>
{% endblock %}

{%block content%}
    <div class="header_page">
        <h1>Editando Chef</h1>
        <div class="buttons">
            <button type="submit" form="form-recipes-delete" class="admin_button delete">Deletar</button>
            <button type="submit" form="form-recipes-edit" id="create">Salvar chef</button>
        </div>
    </div>

    <form id="form-recipes-delete" action="/admin/chefs?_method=DELETE" method="POST">
        <input 
            type="hidden"
            name="id"
            value="{{chef.id}}"
        >
    </form>

    <form id="form-recipes-edit" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
        {%include 'admin/chefs/fields.njk'%}

        <input 
            type="hidden" 
            name="id" 
            value={{chef.id}}
        >  
    </form>
{%endblock%}