{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="header_page">
        <h1>Gerenciar chefs</h1>
        {%if loggedUser === true%}
            <a href="chefs/create" class="admin_button users">Novo</a>
        {%endif%}
    </div>

    <div class="cards_chefs admin">
        {% for chef in chefs %}
            <div class="card_chef">
                <section>
                    <img src="{{chef.src}}" alt="{{chef.name}}">
                </section>
                <section>
                    <h1>{{chef.name}}</h1>
                    <a href="chefs/{{chef.id}}">Visualizar</a>
                </section>
            </div>  
        {% endfor %}
    </div>
{% endblock %}