{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="admin_chefs">
        <h1>Gerenciar chefs</h1>
    </div>

    <div class="cards_chefs admin">

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>

        <div class="card_chef">
            <section>
                <img src="/images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <a href="*">Visualizar</a>
            </section>
        </div>
    </div>
{% endblock %}