{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Chef | Administrador</title>
{% endblock %}

{% block content %}
    <div class="header_page">
        <h1>Chef: {{chef.name}}</h1>

        <a href="*" class="admin_button">Editar chef</a>
    </div>

    <div class="chef_information">
        <img src="{{chef.src}}" alt="{{chef.name}}">
        <h2>{{chef.name}}</h2>
        <p>{{chef.total_recipes}} receitas</p>
    </div>

    <div class="cards_recipes admin">
        <h1>Receitas</h1>

        <div class="cards">
            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Asinhas de frango ao barbecue</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>
        </div>
    </div>
    
{% endblock %}