{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Usuários</title>
{% endblock %}

{% block content %}
    <div class="header_page users">
        <h1>Usuários</h1>
        {%if loggedUser == true%}
            <a href="users/create" class="admin_button users">Novo</a>
        {%endif%}
    </div>

    <div class="cards_users">
        {%for user in users%}
            <div class="card">
                <div class="infor">
                    <h2>{{user.name}}</h2>
                    <p>{{user.email}}</p>
                </div>

                <div class="buttons">
                    {%if loggedUser == true%}
                        {%if loggedUserId === user.id%}
                            <a href="/admin/profile" class="admin_button_secondary">Editar</a>
                        {%else%}
                            <a href="/admin/users/{{user.id}}/edit" class="admin_button_secondary">Editar</a>
                            <button type="submit" form="form-recipes-delete" class="admin_button_secondary delete">Remover</button>
                        {%endif%}

                    {%else%}
                        {%if loggedUserId === user.id%}
                            <a href="/admin/profile" class="admin_button_secondary">Editar</a>
                        {%endif%}
                    {%endif%}
                </div>

                <form id="form-recipes-delete" method="POST" action="/admin/users/{{user.id}}?_method=DELETE">
                    <input 
                        type="hidden"
                        name="id"
                        value={{user.id}}
                    >
                </form>
            </div>
        {%endfor%}
    </div>

    
{% endblock %}