{% extends "../layout.njk" %}

{% block filter %}
    <form action="/search" method="GET">
        <input 
            type="text"
            name="filter"
            placeholder= "Buscar por receitas"
            value={{filter}}
        >
        <button class="filter_search" type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}
    <div class="banner">
        <section>
            <div class="bannerContainer">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com 
                receitas criadas por profissionais do 
                mundo inteiro.
            </div>
            </p>
        </section>
        <section>
            <img src="/assets/chef.png" alt="imagem do chefe">
        </section>
    </div>

    <div class="cards_recipes">
        <h1>Mais acessadas</h1>

        <div class="cards">
            {% for recipe in recipes%}
                <div class="card">
                    <div class="card_img">
                        <img src="{{recipe.src}}" alt="{{recipe.title}}">
                    </div>
                    <h2>{{recipe.title}}</h2>
                    <p>{{recipe.chef_name}}</p>
                </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}