{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="cards_chefs">
        {%for chef in chefs%}
            <div class="card_chef">
                <section>
                    <img src="{{chef.src}}"" alt="{{chef.name}}">
                </section>
                <section>
                    <h1>{{chef.name}}</h1>
                    {%if chef.total_recipes > 1%}
                        <p>{{chef.total_recipes}} receitas</p>
                    {% else %}
                        <p>{{chef.total_recipes}} receita</p>
                    {%endif%}
                </section>
            </div>
        {%endfor%}
    </div>
{% endblock %}