<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        {% include "parts/styles.njk"%}
    </head>
    <body>
        <div class="container_header_admin">
            <header class="home admin">
                <div class="links">
                    <a href="/admin/recipes"><img src="/assets/logoWhite.png" alt="Logo Foodfy" id="image_logo"></a>
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </header>
        </div>
        <div class="container">
            
            {% block content %}{% endblock %}

        </div>

        <script src="/scripts.js"></script>
    </body>
</html>