.header_page{
    display: flex;
    justify-content: space-between;

    margin-top: 55px;
    margin-bottom: 30px;
    align-items: center;
}

.header_page h1{
    font-size: 24px;
}

.header_page button,
.admin_button{
    background: #6558C3;
    padding: 9px 20px;

    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.admin_button.users{
    padding: 9px 45px;
}

.admin_button.users.secondary{
    background: #8A8A8A;
    margin-left: 16px;
}

button.admin_button.delete{
    background: #DC4747;
    margin-right: 10px;
}

.item{
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 30px;
}

/*==UPLOAD IMAGE==*/
.item.photos #photos_upload {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 10px;

    width: 139px;
}

.item.photos #photos_input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    margin-top: 0;
}

.item.photos #photos_preview img{
    width: 150px;
    height: 150px;

    object-fit: cover;
    border-radius: 50%;
} 

#photos_preview .photo {
    position: absolute;
    margin-top: 15px;
}

.item.photos.recipe .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.item.photos.recipe #photos_upload {
    width: 153px;
    height: 153px;

    margin-right: 10px;
}

.item.photos.recipe #photos_upload p{
    border: 1px solid #DDDDDD;
    border-radius: 3.5px; 

    display: flex;
    align-items: center;
    justify-content: center;

    width: 99%;
    height: 98%;
}

.item.photos.recipe #photos_upload p span{
    font-size: 45px;    
    color: #777777;
}

.item.photos #photos_input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.item.photos.recipe #photos_preview{
    display: grid;
    grid-template-columns: repeat(5, 149px);
    grid-gap: 8px;
    right: 0;
}

.item.photos.recipe #photos_preview .photo{
    position: relative
}

.item.photos.recipe #photos_preview .photo img{
    border-radius: 0;
}

#photos_preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);

    color: red;

    width: 101%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photos_preview .photo:hover i {
    opacity: 1;
}

.admin_button_secondary{
    font-size: 14px;
    color: #6558C3;
    text-align: right;
    font-weight: 700;
    background: none;
    margin-bottom: 30px;
    cursor: pointer;
}

.admin_button_secondary.delete{
    color: #DC4747;
    margin-bottom: 0;
}

.item.change{
    margin-bottom: 15px;
}

.item textarea {
    height: 257px;
    resize: none;
}

/*== USERS ==*/
/*== CREATE ==*/
.form_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6vh;
    margin-top: 60px;
}

.checkbox input {
    width: auto;
    margin-right: 6px;
}

.checkbox label {
    font-size: 16px;
    font-weight: 700;
} 
