{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block content %}
    <div class="cards_recipes recipes">
        <div class="cards">
            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="images/asinhas.png" alt="imagem receita">
                <h2>Triplo bacon burger</h2>
                <p>por Jorge Relato</p>
            </div>
        </div>
    </div>
{% endblock %}