{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block content %}
    <div class="cards_recipes recipes">
        <div class="cards">
            <div class="cards">
                {% for recipe in recipes%}
                    <div class="card" id="{{recipe.id}}">
                        <div class="card_img">
                            <img src="{{recipe.src}}" alt="{{recipe.title}}">
                        </div>
                        <h2>{{recipe.title}}</h2>
                        <p>por {{recipe.chef_name}}</p>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}