{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Receita</title>
{% endblock %}

{%block content%}
    <div class="page_information recipe">
        <div class="gallery">
            <div class="highlight">
                {% if not recipe.files[0] %}
                    <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
                {% else %}
                    <img 
                        src="{{recipe.files[0].src}}" 
                        alt="{{recipe.files[0].name}}"
                    >
                {% endif %} 
            </div>
            <div class="gallery_preview">
                {% for image in recipe.files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>

        <h2>{{recipe.title}}</h2>
        <p>por {{recipe.chef_name}}</p>
    </div>

    <div class="info recipe">
        <section class="topic_button">
            <h3>Ingredientes</h3>
            <h4 class="ingredients" onclick="ShowHideIngredients.change()">Esconder</h4>
        </section>
        <ul id="ingredients">
            {%for ingredient in recipe.ingredients%}
                <li>{{ingredient}}</li>
            {%endfor%}
        </ul>

        <section class="topic_button">
            <h3>Modo de preparo</h3>
            <h4 class="preparation" onclick="ShowHidePreparation.change()">Esconder</h4>
         </section>
        <ul id="preparation">
            {%for preparation in recipe.preparations%}
                <li>{{preparation}}</li>
            {%endfor%}
        </ul>

        <section class="topic_button">
            <h3>Informações adicionais</h3>
            <h4 class="information" onclick="ShowHideInformation.change()">Esconder</h4>
        </section>
        <div id="information">
            <p >{{recipe.information}}</p>
        </div>
    </div>
{% endblock %}