<div class="item">
    <div>Nome</div>
    <div class="input">
        <input 
            type="name"
            name="name"
            value="{{user.name}}"
            placeholder="Digite o nome completo"
         >
    </div>
</div> 

<div class="item">
    <div>Email</div>
    <div class="input">
        <input 
            type="email"
            name="email"
            placeholder="Digite o email"
            value="{{user.email}}"
            onblur="Validate.apply(this, 'isEmail')"
        >
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div class="input">
        <input 
            type="password"
            name="password"
            placeholder="Digite sua senha"
         >
    </div>
</div> 