{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Administrador</title>
{% endblock %}

{% block content %}
    <div class="cards_recipes admin">
        <h1>Gerenciar receitas</h1>

        <div class="cards">
            {%for recipe in recipes%}
                <div class="card">
                    <section>
                        <img src="/images/asinhas.png" alt="imagem chef">
                    </section>
                    <section>
                        <h2>{{recipe.title}}</h2>
                        <p>por {{recipe.chef_name}}</p>
                        <a href="recipes/{{recipe.id}}">Visualizar</a>
                    </section>
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}

