{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Administrador</title>
{% endblock %}

{% block content %}
    <div class="cards_recipes admin">
        <h1>Gerenciar receitas</h1>

        <div class="cards">
            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Asinhas de frango ao barbecue</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>

            <div class="card">
                <section>
                    <img src="/images/asinhas.png" alt="imagem chef">
                </section>
                <section>
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="*">Visualizar</a>
                </section>
            </div>
        </div>
    </div>

{% endblock %}

