{% extends '../layout.njk'%}

{% block head %}
    <title>Foodfy | Receita | Administrador</title>
{% endblock %}

{%block content%}
    <div class="header_page">
        <h1>Receita: {{recipe.title}}</h1>
            {%if recipe.user_id === loggedUser.id%}
                <a href="{{recipe.id}}/edit" class="admin_button">Editar Receita</a>
            {%else%}
                {%if loggedUser.is_admin === true%}
                    <a href="{{recipe.id}}/edit" class="admin_button">Editar Receita</a>
                {%endif%}
            {%endif%}
    </div>

    <div class="page_information recipe">
        <div class="gallery">
            <div class="highlight">
                {% if not recipe.files[0] %}
                    <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
                {% else %}
                    <img 
                        src="{{recipe.files[0].src}}" 
                        alt="{{recipe.files[0].name}}"
                    >
                {% endif %}
            </div>
            <div class="gallery_preview">
                {% for image in recipe.files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>

        <h2>{{recipe.title}}</h2>
        <p>por {{recipe.chef_name}}</p>
    </div>

    <div class="info recipe">
        <h3>Ingredientes</h3>
        <ul>
            {%for ingredient in recipe.ingredients%}
                <li>- {{ingredient}}</li>
            {%endfor%}
        </ul>

        <h3>Modo de preparo</h3>
        <ul>
            {%for preparation in recipe.preparations%}
                <li>- {{preparation}}</li>
            {%endfor%}
        </ul>

        <h3>Informações adicionais</h3>
        <p>{{recipe.information}}</p>
    </div>

{% endblock %}