{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="cards_bosses">
        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>

        <div class="card_boss">
            <section>
                <img src="images/boss.jpg" alt="imagem chef">
            </section>
            <section>
                <h1>Júlia Kinoto</h1>
                <p>3 receitas</p>
            </section>
        </div>
    </div>
{% endblock %}